body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

header {
    background-color: green;
    color: rgb(225, 241, 0);
    padding: 15px;
    margin-bottom: 15px;

}

h2 {
    text-align: center;
    background-color: green;
    color: rgb(225, 241, 0);
}
